<h2>Pedidos</h2>
<input #searchBox type="text" id="search-box" (input)="buscarPedido(searchBox.value)" class="form-control" placeholder="ID">
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Order Date</th>
      <th scope="col">Required ID</th>
      <th scope="col">Shipped ID</th>
      <th scope="col">Freight</th>
      <th scope="col">Detalles</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody *ngFor="let pedido of pedidos">
    <tr>
      <th scope="row">{{pedido.OrderID}}</th>
      <th scope="row">{{pedido.OrderDate}}</th>
      <th scope="row">{{pedido.RequiredDate}}</th>
      <th scope="row">{{pedido.ShippedDate}}</th>
      <th scope="row">{{pedido.Freight}}</th>
      <th scope="row"><button class="btn btn-dark btn-sm" (click)="open(content,pedido,'Detalles')">Detalles</button></th>
      <th scope="row"><button class="btn btn-dark btn-sm" (click)="eliminarPedido(pedido)">Eliminar</button></th>
    </tr>
  </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detalles Pedido</h4>
      <button type="button" class="close" aria-label="Close" (click)="c('Close Click')">
        <span aria-hidden="true">
          &times;
        </span>
      </button>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Order ID</th>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody *ngFor="let detalle of lineas">
        <tr>
          <th scope="row">{{detalle.OrderID}}</th>
          <th>{{detalle.ProductID}}</th>
          <th>{{detalle.ProductName}}</th>
          <th>{{detalle.UnitPrice}}</th>
          <th>{{detalle.Quantity}}</th>
        </tr>
      </tbody>
    </table>
  </div>

</ng-template>
